title Search | Teach For India
link(rel='stylesheet', href='stylesheets/bootstrap.min.css', type='text/css')

form(class='bs-example bs-example-form', action = '/searchresult', method = 'get')
	div(class='col-lg-6', id = 'searchbox')
		h1(align='center').
			Teach for India Search
		br
		div(class="input-group")
			input(type='text', class='form-control', name = 'q' placeholder='Enter word(s) to search')
			span(class='input-group-btn')
				button(class='btn btn-default' type = 	'submit') Search

div(id = 'bottombutton2')
		a(href="/paragraph") 
			button(class='btn btn-default' type = 'submit') Add Content to Database
